/*
Barra del menu de opciones
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #575ca1;
    padding: 100px;
    font-size: 14px;
    color: #151515;
}
/* ======================== */
.container{
    max-width: auto; /*Limits the width of the container but let's it get smaller if needed.*/
    margin: 0 auto; /*Center the container horizontally in the middle of the page.*/
    padding: 12px;
}
.navbar{
    display: flex;
    flex-wrap: wrap; /*Allows the children inside a flex container to wrap down onto the next line if there is not enough space.*/
    align-items: center; /*Centers the children of a flex container vertically.*/
    justify-content: space-between; /*Adds space between each child of a flex container.*/
    background-color: #fff;
    padding-block: 15px; /*Padding top and bottom*/
}
.navbar a{
    text-decoration: none;
    color: inherit; /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px; /*Applies right and bottom spacing between children inside a flex or grid container.*/
}
#toggler,
.navbar label{
    display: none;/*Hide the checkbox and label on large screens.*/
}
/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden; /*Hides the overflowing content.*/
    }
    .list{
        flex-direction: column; /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex; /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
    }
    /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
/*
Finaliza todo lo que es la barra de opciones
*/
#header {
    color: rgb(243, 235, 235);
    padding: 30px 20px;
}

#pagina {
    text-align: center;
}

.animated-background{
    background: linear-gradient(
        to right, #5f94e2,
        #1bcfc0, #00ffea); 
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
#header-ul {
    list-style: none;
    padding: 10px;
    margin: 0px auto;
    overflow: hidden;
    color: rgb(243, 241, 241);
    text-decoration: none;
    display: inline-block;
}

#header li {
    margin: 0 40px 0 0;
}

#content {
    text-align: center;
    padding: 20px;
}


#header ul a:hover {
    color: rgb(41, 94, 138);
}

.sobremi {
    padding: 0px;
}
.two-columns img, .two-columns p {
    float:left;
    width: 40%;
}

.two-columns p {
    margin: 0 20px;
}


#content form {
clear: both;
}

#content form [type=text], #content form [type=email], #content form textarea {
    display: block;
    margin-bottom: 15px;
    width: 30%;
    padding: 10px;
    background-color: rgb(224, 232, 238);
}


span {
color: rgb(0, 3, 14);
display: block;
font-family: Quicksand;
font-size: large;
white-space: nowrap;
border-right: 4px solid;
width: 33ch;
animation: typing 8s steps(39),
blink .5s infinite step-end alternate;
overflow: hidden; 
margin: auto;

}

@keyframes typing {
    from { width: 0}

}

@keyframes blink {
    50% { border-color:  transparent}
}

/*
#content #logo{
    padding: 7%;
}
*/
#content #texto{
    padding: 15%;
    display: inline-block;
    vertical-align: top;
}


/*Todo lo que tiene que ver con el final de la pagina*/
/*
*{
    margin: 0;
    padding: 0;
}
*/
body{
    background-color: #151515;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: sans-serif;
}
.icons-wrapper{
    position: relative;
}

.icons-wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/* ======================== */
.icon{
    display: inline-block; /*Makes the icons inline block level elements. This will let us animate the transform property.*/ 
    font-size: 44px;
    animation: float 3s ease-in-out infinite; /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
}

.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ri-facebook-circle-line{
    color: #1877f2;
    animation-delay: 1s; 
}

.ri-twitter-line{
    color: #3767a5;
    animation-delay: 1s;
}

.ri-github-line{
    color: #000000;
    animation-delay: 2s; 
}

.ri-mail-line{    
    color:rgb(37, 37, 37);
    animation-delay: 2s; 

}
@keyframes float {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-15px); 
    }
    100%{
        transform: translateY(0); 
    }
}